.form {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    width: 430px;
    height: 330px;
    border-radius: 10px;
    padding: 34px 36px 0;
    box-sizing: border-box;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

@media screen and (max-width: 767px) {
    .form {
        width: 282px;
        height: 322px;
        padding: 25px 22px 0;
    }
}