.image-popUp {
    max-width: 75vw;
    max-height: 75vh;
    /* background-image: url(https://pictures.s3.yandex.net/frontend-developer/cards-compressed/arkhyz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: fit-content; */
}