.form__button {
    border: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 14px 0;
    background-color: #000000;
}

.form__button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .form__button {
        font-size: 14px;
        line-height: 17px;
    }
}