.form__exit {
    position: absolute;
    top: -44px;
    right: -44px;
}

.form__exit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .form__exit {
        width: 20px;
        top: -36px;
        right: 0px;
    }
}