.header {
    box-sizing: content-box;
    max-width: 880px;
    margin: 0 auto 35px;
    border-bottom: 1px solid #545454;
    display: flex;
}

@media screen and (max-width: 880px) {
    .header {
        padding-left: 27px;
        margin-bottom: 38px;
    }
}

@media screen and (max-width: 320px) {
    .header {
       margin-left: -19px;
       margin-right: -19px;

    }
}