.footer {
    color: #545454;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    max-width: 880px;
    margin: 0 auto;

}

@media screen and (max-width: 767px) {
    .footer {
        font-size: 14px;
        line-height: 17px;
    }
}